/* =========================
   Custom Common Styles
========================= */

body {
    font-family: $font-family-base;
    background: $body-bg;
    color: $body-color;
}


a {
    text-decoration: none;
}


img {
    max-width: 100%;
    display: block;
}


/* Button */

.custom-btn {
    background: $primary;
    color: $white;
    border-radius: $rounded-pill;
    padding: .75rem 1.5rem;
    font-weight: $fw-medium;
    transition: $transition;


    &:hover {
        background: $primary-dark;
        color: $white;
    }
}


/* Section Spacing */

.section-padding {
    padding: 5rem 0;


    @media(max-width:768px){
        padding: 3rem 0;
    }
}


/* Text Color */

.text-primary-custom {
    color: $primary;
}


.text-secondary-custom {
    color: $secondary;
}


/* Common Heading */

.section-title {
    font-size: $fs-heading-xl;
    font-weight: $fw-medium;
    color: $body-color;
    line-height: 1.3;


    span {
        color: $primary;
    }


    @media(max-width:768px){
        font-size: $fs-heading-md;
    }
}