/* =========================
   Colors
========================= */
$primary: #2F80ED;
$primary-dark: #1F6FE0;
$primary-light: #EAF2FF;

$secondary: #7D7987;

$heading: #1F2B6C;
$text: #7D7987;
$text-light: #9CA3AF;

$body-bg: #FFFFFF;
$body-color: #1F2B6C;

$white: #FFFFFF;

/* =========================
   Font Family
========================= */
$font: "Poppins", sans-serif;
$font-family: "Poppins", sans-serif;
$font-family-base: "Poppins", sans-serif;
$font-family-heading: "Playfair Display", serif;

/* =========================
   Font Size
========================= */
$fs-12: .75rem;
$fs-14: .875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-24: 1.5rem;
$fs-32: 2rem;
$fs-48: 3rem;

$fs-heading-md: 2.25rem;
$fs-heading-lg: 3rem;
$fs-heading-xl: 4rem;

$hero-title: 4rem;
$hero-title-mobile: 2.5rem;

/* =========================
   Font Weight
========================= */
$fw-light: 300;
$fw-normal: 400;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

/* =========================
   Line Height
========================= */
$lh-sm: 1.2;
$lh-md: 1.5;
$lh-lg: 1.8;

/* =========================
   Spacing
========================= */
$space-8: .5rem;
$space-12: .75rem;
$space-16: 1rem;
$space-20: 1.25rem;
$space-24: 1.5rem;
$space-32: 2rem;
$space-40: 2.5rem;
$space-48: 3rem;
$space-64: 4rem;
$space-80: 5rem;

/* =========================
   Radius
========================= */
$btn-radius: 50px;
$doctor-radius: 24px;
$card-radius: 20px;
$radius-md: 18px;
$rounded-pill: 999px;
$radius-xl: 24px;
$rounded-md: 1.5rem;

/* =========================
   Shadow
========================= */
$shadow: 0 10px 30px rgba(0,0,0,.08);

/* =========================
   Transition
========================= */
$transition: all .3s ease;

/* =========================
   Breakpoints
========================= */
$lg: 992px;


$fs-15: .9375rem;
$fs-36: 2.25rem;
$radius-full: 50%;